<p id="notice"><%= notice %></p>

<h1>Contries</h1>

<table>
  <thead>
    <tr>
    </tr>
  </thead>

  <tbody>
    <% @contries.each do |contry| %>
      <tr>
        <td><%= link_to contry.name, contry %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Contry', new_contry_path %>
